---
title: Monitoring TKGI and TKGI-Provisioned Clusters
owner: TKGI
---

This topic lists <%= vars.product_full %> (<%= vars.k8s_runtime_abbr %>)
components and integrations you can use to capture logs and metrics about
<%= vars.k8s_runtime_abbr %> and <%= vars.k8s_runtime_abbr %>-provisioned
cluster VMs.

For information about monitoring Kubernetes workloads,
see [Monitoring Workers and Workloads](in-cluster-monitoring.html).

## <a id='overview'></a>Overview

To monitor <%= vars.k8s_runtime_abbr %> and
<%= vars.k8s_runtime_abbr %>-provisioned cluster VMs, you can enable one or
more of the following components and integrations in the
**<%= vars.product_tile %>** tile > **Host Monitoring**:

<table class="nice">
  <col width="45%">
  <col width="55">
  <tr>
    <th>Name</th>
    <th>Link</th>
  </tr>
  <tr>
    <td>Syslog</td>
    <td>See <a href="#syslog">Syslog</a> below.</td>
  </tr>
  <tr>
    <td>VMware vRealize Log Insight Integration</td>
    <td>See <a href="#vrealize">VMware vRealize Log Insight Integration</a> below.</td>
  </tr>
  <tr>
    <td>Telegraf (metrics)</td>
    <td>See <a href="#telegraf">Telegraf</a> below.</td>
  </tr>
</table>

When running on <%= vars.k8s_runtime_abbr %> and
<%= vars.k8s_runtime_abbr %>-provisioned cluster VMs, these components and
integrations are visible only to <%= vars.k8s_runtime_abbr %> admins.

To enable Syslog, VMware vRealize Log Insight Integration, or Telegraf,
follow the instructions in _Host Monitoring_ for your IaaS:

* [Installing <%= vars.product_short %> on vSphere](installing-vsphere.html#syslog)
* [Installing <%= vars.product_short %> on vSphere with NSX-T](installing-nsx-t.html#syslog)
* [Installing <%= vars.product_short %> on GCP](installing-gcp.html#syslog)
* [Installing <%= vars.product_short %> on AWS](installing-aws.html#syslog)
* [Installing <%= vars.product_short %> on Azure](installing-azure.html#syslog)

## <a id='syslog'></a>Syslog

To configure Syslog,
see [Syslog](installing-vsphere.html#host-syslog)
in the _Installing_ topic for your IaaS.

Also see:

https://docs-pcf-staging.cfapps.io/tkgi/1-8/monitor-audit-logs.html

Use Syslog instead of https://docs-pcf-staging.cfapps.io/tkgi/1-8/download-logs.html.

## <a id='vrealize'></a>VMware vRealize Log Insight Integration

To configure VMware vRealize Log Insight Integration,
see [VMware vRealize Log Insight Integration](installing-vsphere.html#vrealize-logs)
in the _Installing_ topic for your IaaS.

## <a id='telegraf'></a>Telegraf

To configure Telegraf,
see [Telegraf](installing-vsphere.html#telegraf)
in the _Installing_ topic for your IaaS.

Also see:

https://docs-pcf-staging.cfapps.io/tkgi/1-8/monitor-etcd.html
