---
title: Kubernetes Nodes and Workloads
owner: PKS
---

This topic lists <%= vars.product_full %> components and integrations you can
use to capture logs and metrics about your Kubernetes nodes and workloads.

## <a id='overview'></a>Overview

To monitor your Kubernetes nodes and workloads in your <%= vars.product_short %>
environment, you can enable one or more of the following components and
integrations:

* **Sink resources.** See [<%= vars.product_short %> Components](#components)
below.
* 

## <a id='components'></a> <%= vars.product_short %> Components

In <%= vars.product_short %>, you can deploy log sinks and metric sinks to
monitor your Kubernetes nodes and workloads.

To deploy a log or a metric sink:

1. Enable sink resources in the <%= vars.product_tile %> tile.
For instructions, see
[Log Sink Resources](installing-pks-vsphere.html#log-sinks) and
[Metric Sink Resources](installing-pks-vsphere.html#metric-sinks) in:
  * [Installing Enterprise PKS on vSphere](installing-vsphere.html#uaa)
  * [Installing Enterprise PKS on vSphere with NSX-T](installing-nsx-t.html#uaa)
  * [Installing Enterprise PKS on GCP](installing-gcp.html#uaa)
  * [Installing Enterprise PKS on AWS](installing-aws.html#uaa)
  * [Installing Enterprise PKS on Azure](installing-azure.html#uaa)

1. Create sink resources. For instructions, see
[Creating Sink Resources](create-sinks.html).

Also see:

* [Sink Architecture in Enterprise PKS](sink-architecture.html)
* [Monitoring Clusters with Log Sinks](monitor-sinks.html)

## <a id='integrations'></a> Supported Integrations

<%= vars.product_short %> supports the following integrations for monitoring
Kubernetes nodes and workloads:

* **Wavefront.** To configure Wavefront integration, see
[Wavefront](installing-pks-vsphere.html#wavefront) in the
_Installing <%= vars.product_short %>_ topic for your IaaS.

  <p class="note"><strong>Note:</strong> You can also create a metric sink
  to send metrics to Wavefront.</p>

* **cAdvisor.** To configure cAdvisor integration, see
