---
title: Kubernetes Nodes and Workloads
owner: PKS
---

This topic lists <%= vars.product_full %> components and integrations you can
use to capture logs and metrics about your Kubernetes nodes and workloads.

## <a id='overview'></a>Overview

To monitor Kubernetes nodes and workloads in your <%= vars.product_short %>
environment, you can enable one or more of the following components and
integrations in the **<%= vars.product_tile %>** tile >
**In-Cluster Monitoring**:

* **Sink resources.** For more information about these <%= vars.product_short %>
components, see
[<%= vars.product_short %> Components](#components) below.
* **Wavefront integration** and **cAdvisor integration.** For more information
about these integrations, see
[Supported Integrations](#integrations) below.

## <a id='components'></a> <%= vars.product_short %> Components

In <%= vars.product_short %>, you can deploy log sinks and metric sinks to
monitor your Kubernetes nodes and workloads.

To deploy a log or a metric sink:

1. Enable sink resources in the <%= vars.product_tile %> tile.
For instructions, see _Log Sink Resources_ and _Metric Sink Resources_ in:
  * [Installing Enterprise PKS on vSphere](installing-vsphere.html#cluster-monitoring)
  * [Installing Enterprise PKS on vSphere with NSX-T](installing-nsx-t.html#cluster-monitoring)
  * [Installing Enterprise PKS on GCP](installing-gcp.html#cluster-monitoring)
  * [Installing Enterprise PKS on AWS](installing-aws.html#cluster-monitoring)
  * [Installing Enterprise PKS on Azure](installing-azure.html#cluster-monitoring)

1. Create sink resources. For instructions, see
[Creating Sink Resources](create-sinks.html).

Also see:

* [Sink Architecture in Enterprise PKS](sink-architecture.html)
* [Monitoring Clusters with Log Sinks](monitor-sinks.html)

## <a id='integrations'></a> Supported Integrations

<%= vars.product_short %> supports the following integrations for monitoring
Kubernetes nodes and workloads:

* Wavefront
  <p class="note"><strong>Note:</strong> You can also create a metric sink
  to send metrics to Wavefront.</p>
* cAdvisor

To configure Wavefront and cAdvisor integration, see
_Wavefront_ and _cAdvisor_ in:

* [Installing Enterprise PKS on vSphere](installing-vsphere.html#cluster-monitoring)
* [Installing Enterprise PKS on vSphere with NSX-T](installing-nsx-t.html#cluster-monitoring)
* [Installing Enterprise PKS on GCP](installing-gcp.html#cluster-monitoring)
* [Installing Enterprise PKS on AWS](installing-aws.html#cluster-monitoring)
* [Installing Enterprise PKS on Azure](installing-azure.html#cluster-monitoring)
